@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <label for="weight-calc-input">Weight Calculator</label>
    <input id="weight-calc-input">
    <div class="calculated-weights">
        <p>45 lb. barbell and on each side:</p>
        <p>45. <span class="45-weights"></span></p>
        <p>35. <span class="35-weights"></span></p>
        <p>25. <span class="25-weights"></span></p>
        <p>10. <span class="10-weights"></span></p>
        <p>5. <span class="5-weights"></span></p>
        <p>2.5. <span class="2_5-weights"></span></p>
    </div>
</div>
